@import url('https://fonts.googleapis.com/css2?family=Abel&family=Cabin:wght@400;500;600&family=Dosis:wght@200;300;400;500;600&display=swap');


$max-width: 800px;
$white: #ffffff;
$spacing: 0.1rem;
$radius: 0.5rem;
$light: #e6e6e6;
.main {
    font-family: 'Abel', sans-serif;
    letter-spacing:$spacing;
    color: $light;
    background-image: url("./../images/background.jpg");
    min-height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;

    align-items: center;
i{
    margin-right:10px;
}

    .main-wrapper {
        margin: 20px;
        box-shadow: 0px 0px 20px 0px #3c3c3c;
        background: #1a447196;
        max-width: $max-width;

        border-radius: $radius;

        .forecast-details {
            padding-top: 40px;
            padding-bottom: 50px;
            background: #0d004045;
            text-align: center;

            p {
                margin: 0;
            }

            .forecast-item {
                width: 12.5%;
                animation: fadein 1s;

                .forecast-temp {
                    font-size: 1.3rem;
                     @media (max-width: 576px) {
                         font-size: 0.9rem;
                     }
                }

                .forecast-wind {
                    font-size: 0.9rem;
                    
                }

                .forecast-img {
                    width: 50%;
                    display: block;
                    margin: 0 auto;
                }
                .forecast-hour{
                     @media (max-width: 576px) {
                         font-size: 0.8rem;
                     }
                }
            
            }
        }

        .weekday-label {
            text-align: center;

            p {
                margin: 0;
                font-size: 1.1rem;
                 @media (max-width: 576px) {
                     font-size: 0.9rem;
                 }
            }

            .label-img {
                width: 100%;
            }

            .weekday-wrapper {
                border-top-left-radius: $radius;
                border-top-right-radius: $radius;
                &:hover {
                    cursor: pointer;

                }
            }

            .active {
                background: #0d004045;
            }

        }

        .location-wrapper {
            padding: 20px;
            font-weight: 500;
            display:flex;
            justify-content: space-between;
             @media (max-width: 576px) {
                 display:block;
             }
             .form-container{
                 display:flex;
                 justify-content: center;
                 
             }
            .search-form{
                
                margin-right:30px;
                .submit{
                    letter-spacing: $spacing;
                    border-radius: $radius;
                    padding:5px 10px;
                    border-width: 0;
                    height:2rem;
                    width:50px;
                }
                input{
                    letter-spacing: $spacing;
                    border-radius: $radius;
                    padding:5px 10px;
                    border-width: 0;
                    min-width:250px;
                    height:2rem;
                    &:active{
                        border:none;
                        outline: none;
                       
                    }
                    &:focus{
                        border:none;
                        outline: none;
                        
                    }
                }
            }
            .span-city {
                font-size: 1.4rem;
                margin-left: 5px;
                text-transform: uppercase;
                    
            }

            .span-country {
                font-size: 1rem;
                margin-left: 5px;
            }
        }

        .weather-wrapper {
            display: flex;
            justify-content: center;

            .temp-wrapper {
                font-size: 5rem;
                @media (max-width: 750px) {
                    font-size:2rem;
                    display:flex;
                    align-items: center;
                }
                 @media (max-width: 576px) {
                     font-size: 5rem;
                 }
            }

            .deg-wrapper {
                font-size: 2rem;
                padding-top: 10px;
                margin-left: 5px;
                @media (max-width: 750px) {
                    
                    display: flex;
                    align-items: center;
                }
            }
        }

        .img-wrapper {
                display: flex;
                justify-content: center;
                align-items: center;
                 @media (max-width: 576px) {
                     justify-content: flex-start;
                 }
            .main-img {
                width: 100px;
                 @media (max-width: 750px) {
                    width:100%;
                 }
                  @media (max-width: 576px) {
                      width: 100px;
                  }
            }
        }

        .details-wrapper {
            padding: 15px;

            .description {
                width: 90%;
                border-bottom: 1px solid $light;
                text-transform: capitalize;
                font-size: 1.3rem;
                font-weight: 600;
            }
            .row-description{
                 @media (max-width: 750px) {
                    font-size:0.9rem;
                 }
                 @media (max-width: 576px) {
                     font-size: 1rem;
                 }
                 i{
                      @media (max-width: 750px) {
                        margin-right:5px;
                      }
                 }
            }
            p {
                margin: 0
            }
        }
    }
}


@keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}