@import url("https://fonts.googleapis.com/css2?family=Abel&family=Cabin:wght@400;500;600&family=Dosis:wght@200;300;400;500;600&display=swap");
:root {
  --max-width: 800px;
  --white: #ffffff;
  --spacing: 0.1rem;
  --radius: 0.5rem;
  --light: #e6e6e6;
}

.main {
  font-family: 'Abel', sans-serif;
  letter-spacing: var(--spacing);
  color: var(--light);
  background-image: url("./../images/background.jpg");
  min-height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main i {
  margin-right: 10px;
}

.main .main-wrapper {
  margin: 20px;
  -webkit-box-shadow: 0px 0px 20px 0px #3c3c3c;
          box-shadow: 0px 0px 20px 0px #3c3c3c;
  background: #1a447196;
  max-width: var(--max-width);
  border-radius: var(--radius);
}

.main .main-wrapper .forecast-details {
  padding-top: 40px;
  padding-bottom: 50px;
  background: #0d004045;
  text-align: center;
}

.main .main-wrapper .forecast-details p {
  margin: 0;
}

.main .main-wrapper .forecast-details .forecast-item {
  width: 12.5%;
  -webkit-animation: fadein 1s;
          animation: fadein 1s;
}

.main .main-wrapper .forecast-details .forecast-item .forecast-temp {
  font-size: 1.3rem;
}

.main .main-wrapper .forecast-details .forecast-item .forecast-wind {
  font-size: 0.9rem;
}

.main .main-wrapper .forecast-details .forecast-item .forecast-img {
  width: 50%;
  display: block;
  margin: 0 auto;
}

.main .main-wrapper .weekday-label {
  text-align: center;
}

.main .main-wrapper .weekday-label p {
  margin: 0;
  font-size: 1.1rem;
}

.main .main-wrapper .weekday-label .label-img {
  width: 100%;
}

.main .main-wrapper .weekday-label .weekday-wrapper {
  border-top-left-radius: var(--radius);
  border-top-right-radius: var(--radius);
}

.main .main-wrapper .weekday-label .weekday-wrapper:hover {
  cursor: pointer;
}

.main .main-wrapper .weekday-label .active {
  background: #0d004045;
}

.main .main-wrapper .location-wrapper {
  padding: 20px;
  font-weight: 500;
}

.main .main-wrapper .location-wrapper .search-form {
  display: inline-block;
  float: right;
  margin-right: 30px;
}

.main .main-wrapper .location-wrapper .search-form .submit {
  letter-spacing: var(--spacing);
  border-radius: var(--radius);
  padding: 5px 10px;
  border-width: 0;
  height: 2rem;
  width: 50px;
}

.main .main-wrapper .location-wrapper .search-form input {
  letter-spacing: var(--spacing);
  border-radius: var(--radius);
  padding: 5px 10px;
  border-width: 0;
  min-width: 250px;
  height: 2rem;
}

.main .main-wrapper .location-wrapper .search-form input:active {
  border: none;
  outline: none;
}

.main .main-wrapper .location-wrapper .search-form input:focus {
  border: none;
  outline: none;
}

.main .main-wrapper .location-wrapper .span-city {
  font-size: 1.4rem;
  margin-left: 5px;
  text-transform: uppercase;
  background: red;
}

.main .main-wrapper .location-wrapper .span-country {
  font-size: 1rem;
  margin-left: 5px;
}

.main .main-wrapper .weather-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main .main-wrapper .weather-wrapper .temp-wrapper {
  font-size: 5rem;
}

.main .main-wrapper .weather-wrapper .deg-wrapper {
  font-size: 2rem;
  padding-top: 10px;
  margin-left: 5px;
}

.main .main-wrapper .img-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main .main-wrapper .img-wrapper .main-img {
  width: 100px;
}

.main .main-wrapper .details-wrapper {
  padding: 15px;
}

.main .main-wrapper .details-wrapper .description {
  width: 90%;
  border-bottom: 1px solid var(--light);
  text-transform: capitalize;
  font-size: 1.3rem;
  font-weight: 600;
}

.main .main-wrapper .details-wrapper p {
  margin: 0;
}

@media only screen and (max-width: 750px) {
  .temp-wrapper {
    font-size: 2rem;
  }
}

@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/*# sourceMappingURL=style.css.map */